{% trans_default_domain 'FOSUserBundle' %}

{% include 'partials/gritter.html.twig' %}

<div class="admin-box"> 
    <h2>{{ user.username }}</h2>
    <p>{{ user.email }}</p>
    <p><a href="{{ path('fos_user_change_password') }}">Zmień hasło</a></p>
    <p><a href="{{ path('fos_user_profile_edit') }}">Edytuj profil</a></p>
    <p><a href="{{ path('fos_user_profile_edit') }}">Zobacz swój profil zawodnika</a></p>
    <p><a href="{{ path('fos_user_profile_edit') }}">Edytuj swój profil zawodnika</a></p>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-notice">
                <div class="alert alert-{{ label }} fade in">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    {{ message }}
                </div>               
            </div>
        {% endfor %}
    {% endfor %}    
</div>
