{% trans_default_domain 'FOSUserBundle' %}

<div class="admin-box"> 
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p><a href="{{ path('fos_user_change_password') }}">Zmień hasło</a></p>
</div>
