{% extends 'admin.html.twig' %}

{% block admin_body %}
    <h1>Mecze</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('game_new') }}" class="btn btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        Dodaj
    </a>
    {% endif %}
    {% include 'partials/gritter.html.twig' %}
    <div class="admin-box">       
        <table class="table data-table">
            <thead>
                <tr>
                    <th></th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Data</th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Miejsce</th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Rodzaj</th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Gospodarze</th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Goście</th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Bramki gospodarzy</th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Bramki gości</th>
                    <th>Edycja</th>
                </tr>
            </thead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td></td>
                    <td>{% if game.date %}{{ game.date|date('Y-m-d H:i') }}{% endif %}</td>
                    <td>{{ game.location }}</td>
                    <td>{% if game.category %}{{ game.category }}{% else %}---{% endif %}</td>
                    <td>{% if game.homeTeam %}{{ game.homeTeam.name }}{% else %}Deleted{% endif %}</td>
                    <td>{% if game.awayTeam %}{{ game.awayTeam.name }}{% else %}Deleted{% endif %}</td>
                    <td>{{ game.homeTeamScore }}</td>
                    <td>{{ game.awayTeamScore }}</td>
                    <td class="col-md-2">
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('game_edit', { 'id': game.id }) }}" class="btn btn-primary btn-sm pull-left admin-form-btn-margin">
                            Edytuj
                        </a>
                        <form action="{{ path('game_delete', { 'id': game.id }) }}" method="post">
                            {{ form_widget(deleteForms[game.id]) }}
                            <input type="submit" class="btn btn-danger btn-sm" value="Usuń">
                        </form>                             
                    {% endif %}                    
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

