{% extends 'admin.html.twig' %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h1>Edytuj mecz</h1>
            {% include 'partials/gritter.html.twig' %}
            <div class="admin-box">                    
                {{ form_start(edit_form, { 'attr': {'class': 'admin-form', 'novalidate': 'novalidate'} }) }}
                    {{ form_row(edit_form.date) }}    
                    {{ form_row(edit_form.location) }}
                    {{ form_row(edit_form.category) }}
                    {{ form_row(edit_form.homeTeam) }}
                    {{ form_row(edit_form.awayTeam) }}
                    {{ form_row(edit_form.homeTeamScore) }}
                    {{ form_row(edit_form.awayTeamScore) }}
                    <input type="submit" class="btn btn-primary" value="Edytuj" />
                    <a href="{{ path('admin_game_index') }}" class="btn btn-default admin-form-btn-margin">
                        Wróć do listy
                    </a>                    
                {{ form_end(edit_form) }}
            </div>
        </div>
    </div>
{% endblock %}
