{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Mecze</h1>
    {% if games %}
    <table class="table table-bordered table-striped simple-league-table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Miejsce</th>
                <th>Rodzaj</th>
                <th>Gospodarze</th>
                <th>Goście</th>
                <th>Wynik</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.date|date('Y-m-d H:i') }}</td>
                <td>{{ game.location }}</td>
                <td>{% if game.category %}{{ game.category }}{% else %}---{% endif %}</td>
                <td>{% if game.homeTeam %}{{ game.homeTeam.name }}{% else %}Deleted team{% endif %}</td>
                <td>{% if game.awayTeam %}{{ game.awayTeam.name }}{% else %}Deleted team{% endif %}</td>
                <td>{% if game.homeTeamScore %}{{ game.homeTeamScore }}{% else %}---{% endif %} : {% if game.awayTeamScore %}{{ game.awayTeamScore }}{% else %}---{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        Brak meczów
    {% endif %}

{% endblock %}
