{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Games list</h1>
    {% if games %}
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Location</th>
                <th>Category</th>
                <th>Home team</th>
                <th>Away team</th>
                <th>Home team score</th>
                <th>Away team score</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.date|date('Y-m-d H:i') }}</td>
                <td>{{ game.location }}</td>
                <td>{% if game.category %}{{ game.category }}{% else %}---{% endif %}</td>
                <td>{% if game.homeTeam %}{{ game.homeTeam.name }}{% else %}Deleted team{% endif %}</td>
                <td>{% if game.awayTeam %}{{ game.awayTeam.name }}{% else %}Deleted team{% endif %}</td>
                <td>{% if game.homeTeamScore %}{{ game.homeTeamScore }}{% else %}---{% endif %}</td>
                <td>{% if game.awayTeamScore %}{{ game.awayTeamScore }}{% else %}---{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        Brak meczów
    {% endif %}

{% endblock %}
