{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Mecze</title>
    <meta name="description" content="Lista meczów klubu Offensywa Książenice">
    <meta property="og:title" content="Offensywa Książenice – szkółka piłkarska" />
    <meta property="og:description" content="Lista meczów klubu Offensywa Książenice" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="http://placehold.it/760x400/cccccc/ffffff" />     
{% endblock %}

{% block content %}
    <h1>{{ 'games' | trans | capitalize }}</h1>
    {% if games is not empty %}
    <table class="table table-bordered table-striped simple-league-table">
        <thead>
            <tr>
                <th>{{ 'date' | trans }}</th>
                <th>{{ 'location' | trans }}</th>
                <th>{{ 'match.type' | trans }}</th>
                <th>{{ 'hosts' | trans }}</th>
                <th>{{ 'guests' | trans }}</th>
                <th>{{ 'match.score' | trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.date|date('Y-m-d H:i') }}</td>
                <td>{{ game.location }}</td>
                <td>{% if game.category %}{{ game.category | trans }}{% else %}---{% endif %}</td>
                <td>{% if game.homeTeam %}{{ game.homeTeam.name }}{% else %}Deleted team{% endif %}</td>
                <td>{% if game.awayTeam %}{{ game.awayTeam.name }}{% else %}Deleted team{% endif %}</td>
                <td>{% if game.homeTeamScore %}{{ game.homeTeamScore }}{% else %}---{% endif %} : {% if game.awayTeamScore %}{{ game.awayTeamScore }}{% else %}---{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2>{{ 'match.no' | trans | capitalize }}</h2>
    {% endif %}

{% endblock %}
