{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Tabele ligowe</title>
    <meta name="description" content="Tabele ligowe drużyn klubu Offensywa Książenice">
    <meta property="og:title" content="Offensywa Książenice – szkółka piłkarska" />
    <meta property="og:description" content="Tabele ligowe drużyn klubu Offensywa Książenice" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="http://placehold.it/760x400/cccccc/ffffff" />    
{% endblock %}

{% block content %}
    {% if tables is not empty %}
        {% for table in tables %}
        <h2>Tabela ligowa rocznika {{ table.year }}</h2>
{{ dump(teams) }}        
        <table class="table table-bordered table-striped simple-league-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Drużyna</th>
                    <th>P</th>
                    <th>W</th>
                    <th>D</th>
                    <th>L</th>
                    <th>F</th>
                    <th>A</th>
                    <th>GD</th>
                    <th>Pts</th>
                </tr> 
            </thead>
            <tbody>
                {% for team in table.table %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ team.Team }}</td>
                        <td>{{ team.P }}</td>
                        <td>{{ team.W }}</td>
                        <td>{{ team.D }}</td>
                        <td>{{ team.L }}</td>
                        <td>{% if team.F != 0 %}{{ team.F }}{% else %}{{ 0 }}{% endif %}</td>
                        <td>{% if team.A != 0 %}{{ team.A }}{% else %}{{ 0 }}{% endif %}</td>
                        <td>{% if team.GD != 0 %}{{ team.GD }}{% else %}{{ 0 }}{% endif %}</td>
                        <td>{{ team.Pts }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    {% else %}
        <h2>Brak tabel ligowych</h2>
    {% endif %}
{% endblock %}
