{% extends 'base.html.twig' %}

{% block body %}
    <h1>League tables</h1>
    <table class="table">
        <tbody>
            <tr>
                <th>Team</th>
                <th>P</th>
                <th>W</th>
                <th>D</th>
                <th>L</th>
                <th>F</th>
                <th>A</th>
                <th>GD</th>
                <th>Pts</th>
            </tr>            
            {% for team in table %}
                <tr>
                    <td>{{ team.Team }}</td>
                    <td>{{ team.P }}</td>
                    <td>{{ team.W }}</td>
                    <td>{{ team.D }}</td>
                    <td>{{ team.L }}</td>
                    <td>{{ team.F }}</td>
                    <td>{{ team.A }}</td>
                    <td>{{ team.GD }}</td>
                    <td>{{ team.Pts }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
