{% extends 'admin.html.twig' %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h1>Kategorie</h1>
            {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('category_new') }}" class="btn btn-success">
                <i class="fa fa-plus" aria-hidden="true"></i> 
                Dodaj
            </a>   
            {% endif %}
            {% include 'partials/gritter.html.twig' %}
            <div class="admin-box">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nazwa</th>
                            <th>Strona</th>
                            <th>Edycja</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ category.name }}</td>
                            <td>
                                {% if category.page %}
                                   {% if category.page == 1 %}Aktualności{% endif %}
                                   {% if category.page == 2 %}Galeria{% endif %}
                                {% else %}
                                    ---
                                {% endif %}
                            </td>
                            <td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('category_edit', { 'id': category.id }) }}" class="btn btn-primary btn-sm pull-left admin-form-btn-margin">
                                    Edytuj
                                </a>
                                <form action="{{ path('category_delete', { 'id': category.id }) }}" method="post">
                                    {{ form_widget(deleteForms[category.id]) }}
                                    <input type="submit" class="btn btn-danger btn-sm" value="Usuń">
                                </form> 
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
