{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trainings list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for training in trainings %}
            <tr>
                <td><a href="{{ path('training_show', { 'id': training.id }) }}">{{ training.id }}</a></td>
                <td>{% if training.date %}{{ training.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ training.location }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('training_show', { 'id': training.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('training_edit', { 'id': training.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('training_new') }}">Create a new training</a>
        </li>
    </ul>
{% endblock %}
