{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Treningi</title>
    <meta name="description" content="Terminy treningów klubu Offensywa Książenice">
    <meta property="og:title" content="Offensywa Książenice – szkółka piłkarska" />
    <meta property="og:description" content="Terminy treningów klubu Offensywa Książenice" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="http://placehold.it/760x400/cccccc/ffffff" />    
{% endblock %}

{% block content %}
    {% if trainings %}
        <h1>{{ 'trainings.terms' | trans | capitalize }}</h1>
        {% for training in trainings %}
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h4 class="list-group-item-heading">
                        {% if training.day == 1 %}
                            {{ 'Monday' | trans }}
                        {% elseif training.day == 2 %}
                            {{ 'Tuesday' | trans }}
                        {% elseif training.day == 3 %}
                            {{ 'Wendesday' | trans }}
                        {% elseif training.day == 4 %}
                            {{ 'Thursday' | trans }}
                        {% elseif training.day == 5 %}
                            {{ 'Friday' | trans }}
                        {% elseif training.day == 6 %}
                            {{ 'Saturday' | trans }}    
                        {% else %}
                            {{ 'Sunday' | trans }}
                        {% endif %}                    
                    </h4>
                    <p class="list-group-item-text">{{ training.startHour|date('H:i') }} - {{ training.endHour|date('H:i') }}</p>
                    <p class="list-group-item-text">{{ 'trainer' | trans | capitalize }}: {{ training.trainer.firstName }} {{ training.trainer.lastName }}</p>
                    <p class="list-group-item-text">{{ training.location }}</p>
                </a>
            </div>        
        {% endfor %}
    {% else %}
        <h2>{{ 'trainings.none' | trans | capitalize }}</h2>
    {% endif %}
{% endblock %}
