<h2>Powiadomienia <span class="badge">{{ notificationsCount }}</span></h2>
{% if notificationData is not null %}
    {% for notification in notificationData %}
        {% if notification.type == "request" %}
            <div class="alert alert-{{ notification.color }} alert-dismissible fade in" role="alert"> 
                <button type="button" class="close notification-delete" data-dismiss="alert" aria-label="Close" data-id="{{ notification.id }}">
                    <span aria-hidden="true">×</span>
                </button>
                <p><span class="badge">{{ notification.date|date('Y-m-d H:i') }}</span> <strong>{{ notification.title }}</strong></p>
                <p>{{ notification.who }} zamówił {{ notification.context }}</p>
            </div> 
        {% endif %}
        {% if notification.type == "game" %}
            <div class="alert alert-{{ notification.color }} alert-dismissible fade in" role="alert"> 
                <button type="button" class="close notification-delete" data-dismiss="alert" aria-label="Close" data-id="{{ notification.id }}">
                    <span aria-hidden="true">×</span>
                </button>
                <p><span class="badge">{{ notification.date|date('Y-m-d H:i') }}</span> <strong>{{ notification.title }}</strong></p>
                <p>{{ notification.who }} ({{ notification.context }})</p>
            </div> 
        {% endif %}
        {% if notification.type == "user" %}
            <div class="alert alert-{{ notification.color }} alert-dismissible fade in" role="alert"> 
                <button type="button" class="close notification-delete" data-dismiss="alert" aria-label="Close" data-id="{{ notification.id }}">
                    <span aria-hidden="true">×</span>
                </button>
                <p><span class="badge">{{ notification.date|date('Y-m-d H:i') }}</span> <strong>{{ notification.title }}</strong></p>
                <p>{{ notification.who }}, {{ notification.context }}</p>
            </div> 
        {% endif %}                        
    {% endfor %}
{% else %}
    Brak powiadomień
{% endif %} 
