<div class="sidebar-nav">
  <div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="visible-xs navbar-brand">Sidebar menu</span>
    </div>
    <div class="navbar-collapse collapse sidebar-navbar-collapse">
      <ul class="nav navbar-nav vertical-nav">
        {% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
        <li {{ (app.request.attributes.get('_route') == 'fos_user_profile_show') ? ' class="active"' }}>
            <a href="{{ path('fos_user_profile_show') }}">
                <i class="fa fa-user admin-list-icon" aria-hidden="true"></i>
                Profil
            </a>
        </li>            
        <li {{ (app.request.attributes.get('_route') == 'fos_user_change_password') ? ' class="active"' }}>
            <a href="{{ path('fos_user_change_password') }}">
                <i class="fa fa-key admin-list-icon" aria-hidden="true"></i>
                Zmień hasło
            </a>
        </li>
        <li {{ (app.request.attributes.get('_route') == 'fos_user_profile_edit') ? ' class="active"' }}>
            <a href="{{ path('fos_user_profile_edit') }}">
                <i class="fa fa-pencil-square-o admin-list-icon" aria-hidden="true"></i>
                Edytuj profil
            </a>
        </li>        
        <li {{ (app.request.attributes.get('_route') == 'request_new') ? ' class="active"' }}>
            <a href="{{ path('request_new') }}">
                <i class="fa fa-opencart admin-list-icon" aria-hidden="true"></i>
                Złóż zamówienie
            </a>            
        </li>
        {% endif %}  
        {% if is_granted('ROLE_ADMIN') %}  
        <li {{ (app.request.attributes.get('_route') == 'admin_dashboard') ? ' class="active"' }}>
            <a href="{{ path('admin_dashboard') }}">
                <i class="fa fa-tachometer admin-list-icon" aria-hidden="true"></i>
                Kokpit
            </a>
        </li>
        <li {{ (app.request.attributes.get('_route') == 'user_index') ? ' class="active"' }}>
            <a href="#!" 
               data-toggle="collapse" 
               data-target="#users" 
               aria-expanded="false" 
               aria-controls="users">
                <i class="fa fa-user admin-list-icon" aria-hidden="true"></i>
                Użytkownicy
            </a>
            <div class="collapse" id="users">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('user_index') }}">Lista</a></li>
                </ul>
            </div>            
        </li>
        {% if app.request.attributes.get('_route') == 'admin_page_index' or app.request.attributes.get('_route') == 'page_new' %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!" 
               data-toggle="collapse" 
               data-target="#pages" 
               aria-expanded="false" 
               aria-controls="pages">
                <i class="fa fa-folder-open admin-list-icon" aria-hidden="true"></i>
                Strony
            </a>
            <div class="collapse" id="pages">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('admin_page_index') }}">Lista</a></li>
                    <li><a href="{{ path('page_new') }}">Dodaj</a></li>
                </ul>
            </div>            
        </li>        
        {% if app.request.attributes.get('_route') == 'admin_post_index' 
           or app.request.attributes.get('_route') == 'post_new'
           or app.request.attributes.get('_route') == 'category_index'
        %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!" 
               data-toggle="collapse" 
               data-target="#posts" 
               aria-expanded="false" 
               aria-controls="posts">
                <i class="fa fa-book admin-list-icon" aria-hidden="true"></i>
                Posty
            </a>
            <div class="collapse" id="posts">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('admin_post_index') }}">Lista</a></li>
                    <li><a href="{{ path('post_new') }}">Dodaj</a></li>
                    <li><a href="{{ path('category_index') }}">Kategorie</a></li>
                </ul>
            </div>            
        </li>          
        {% if app.request.attributes.get('_route') == 'admin_sonata_media_media_list' 
           or app.request.attributes.get('_route') == 'admin_sonata_media_gallery_list' 
        %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!" 
               data-toggle="collapse" 
               data-target="#media" 
               aria-expanded="false" 
               aria-controls="media">
                <i class="fa fa-file-image-o admin-list-icon" aria-hidden="true"></i>
                Media
            </a>
            <div class="collapse" id="media">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('admin_sonata_media_media_list') }}">Media</a></li>
                    <li><a href="{{ path('admin_sonata_media_gallery_list') }}">Galeria</a></li>
                </ul>
            </div>            
        </li>         
        {% if app.request.attributes.get('_route') == 'admin_player_index' 
           or app.request.attributes.get('_route') == 'player_new' 
        %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!" 
               data-toggle="collapse" 
               data-target="#players" 
               aria-expanded="false" 
               aria-controls="players">
                <i class="fa fa-user-o admin-list-icon" aria-hidden="true"></i>
                Zawodnicy
            </a>
            <div class="collapse" id="players">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('admin_player_index') }}">Lista</a></li>
                    <li><a href="{{ path('player_new') }}">Dodaj</a></li>
                </ul>
            </div>            
        </li>
        {% if app.request.attributes.get('_route') == 'admin_team_index' 
           or app.request.attributes.get('_route') == 'team_new' 
        %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!"
               data-toggle="collapse" 
               data-target="#teams" 
               aria-expanded="false" 
               aria-controls="teams">
                <i class="fa fa-users admin-list-icon" aria-hidden="true"></i>
                Drużyny
            </a>
            <div class="collapse" id="teams">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('admin_team_index') }}">Lista</a></li>
                    <li><a href="{{ path('team_new') }}">Dodaj</a></li>
                </ul>
            </div>             
        </li>
        {% if app.request.attributes.get('_route') == 'ad_admin_index' 
           or app.request.attributes.get('_route') == 'ad_new' 
        %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!"
               data-toggle="collapse" 
               data-target="#ad" 
               aria-expanded="false" 
               aria-controls="ad">
                <i class="fa fa-calendar admin-list-icon" aria-hidden="true"></i>
                Ogłoszenia
            </a>
            <div class="collapse" id="ad">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('ad_admin_index') }}">Lista</a></li>
                    <li><a href="{{ path('ad_new') }}">Dodaj</a></li>
                </ul>
            </div>             
        </li>        
        {% if app.request.attributes.get('_route') == 'admin_trainer_index' 
           or app.request.attributes.get('_route') == 'trainer_new' 
        %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!"
               data-toggle="collapse" 
               data-target="#trainers" 
               aria-expanded="false" 
               aria-controls="trainers">
                <i class="fa fa-bullhorn admin-list-icon" aria-hidden="true"></i>
                Trenerzy
            </a>
            <div class="collapse" id="trainers">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('admin_trainer_index') }}">Lista</a></li>
                    <li><a href="{{ path('trainer_new') }}">Dodaj</a></li>
                </ul>
            </div>             
        </li>
        {% if app.request.attributes.get('_route') == 'admin_training_index' 
           or app.request.attributes.get('_route') == 'training_new' 
        %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!"
               data-toggle="collapse" 
               data-target="#trainings" 
               aria-expanded="false" 
               aria-controls="trainings">
                <i class="fa fa-heartbeat admin-list-icon" aria-hidden="true"></i>
                Treningi
            </a>
            <div class="collapse" id="trainings">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('admin_training_index') }}">Lista</a></li>
                    <li><a href="{{ path('training_new') }}">Dodaj</a></li>
                </ul>
            </div>             
        </li>        
        {% if app.request.attributes.get('_route') == 'payment_index'
           or app.request.attributes.get('_route') == 'payment_all'
           or app.request.attributes.get('_route') == 'payment_new'
           or app.request.attributes.get('_route') == 'paymentcategory_index' 
        %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!"
               data-toggle="collapse" 
               data-target="#payments" 
               aria-expanded="false" 
               aria-controls="payments">
                <i class="fa fa-money admin-list-icon" aria-hidden="true"></i>
                Płatności
            </a>
            <div class="collapse" id="payments">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('payment_index') }}">Lista</a></li>
                    <li><a href="{{ path('payment_all') }}">Przegląd</a></li>
                    <li><a href="{{ path('payment_new') }}">Dodaj</a></li>
                    <li><a href="{{ path('paymentcategory_index') }}">Rodzaje płatności</a></li>
                </ul>
            </div>             
        </li>
        {% if app.request.attributes.get('_route') == 'mail_index'
           or app.request.attributes.get('_route') == 'mail_new' 
        %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!"
               data-toggle="collapse" 
               data-target="#mails" 
               aria-expanded="false" 
               aria-controls="mails">
                <i class="fa fa-envelope-o admin-list-icon" aria-hidden="true"></i>
                Wiadomości
            </a>
            <div class="collapse" id="mails">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('email_index') }}">Lista e-maili</a></li>                   
                    <li><a href="{{ path('email_new') }}">Wyślij e-mail</a></li>
                </ul>
            </div>             
        </li>        
        {% if app.request.attributes.get('_route') == 'request_index' 
           or app.request.attributes.get('_route') == 'request_new' 
        %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!" 
               data-toggle="collapse" 
               data-target="#requests" 
               aria-expanded="false" 
               aria-controls="requests">
                <i class="fa fa-opencart admin-list-icon" aria-hidden="true"></i>
                Zamówienia
            </a>
            <div class="collapse" id="requests">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('request_index') }}">Lista</a></li>
                    <li><a href="{{ path('request_new') }}">Złóż zamówienie</a></li>
                </ul>
            </div>            
        </li>
        {% if app.request.attributes.get('_route') == 'admin_game_index' 
           or app.request.attributes.get('_route') == 'game_new' 
        %}
        <li class="active">
        {% else %}
        <li>
        {% endif %}
            <a href="#!" 
               data-toggle="collapse" 
               data-target="#games" 
               aria-expanded="false" 
               aria-controls="games">
                <i class="fa fa-futbol-o admin-list-icon" aria-hidden="true"></i>
                Mecze
            </a>
            <div class="collapse" id="games">
                <ul class="list-unstyled admin-list">
                    <li><a href="{{ path('admin_game_index') }}">Lista</a></li>
                    <li><a href="{{ path('game_new') }}">Dodaj</a></li>
                </ul>
            </div>            
        </li>         
        <li>
            <a href="#">
                <i class="fa fa-trophy admin-list-icon" aria-hidden="true"></i>
                Turnieje
            </a>
        </li>
        {% endif %}       
      </ul>
    </div>
  </div>
</div>
