<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Admin{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" 
                  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
                  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
                  crossorigin="anonymous"
            >
            <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> 
            <link href="https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,600" rel="stylesheet">            
            <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('/css/fullcalendar.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/css/data-tables.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            {% include 'admin-navbar.html.twig' %}
        </div> 
        <div class="container-fluid">
            <div class="row admin-bg"> 
                <div class="col-xs-2 col-fluid">
                    {% include 'admin-sidebar.html.twig' %}
                </div>
                <div class="col-xs-10 admin-main">
                    {% block admin_body %}{% endblock %}
                </div>
            </div>    
        </div>
        <footer class="footer">
            <div class="container-fluid">
                {% include 'footer.html.twig' %}
            </div>
        </footer>
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" 
                    crossorigin="anonymous">
            </script>  
            <script src="{{ asset('/js/tinymce/js/tinymce/tinymce.min.js') }}"></script>
            <script>
                tinymce.init({
                    selector: "textarea",theme: "modern",width: 680,height: 300,
                    extended_valid_elements : 'iframe[class|src]',
                    file_browser_callback: fileBrowser,
                    plugins: [
                        "advlist autolink link image lists charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars insertdatetime media nonbreaking",
                        "table contextmenu directionality emoticons paste textcolor code"
                    ],
                    toolbar1: "undo redo | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | styleselect",
                    toolbar2: "| link unlink anchor | image media | forecolor backcolor  | print preview code ",
                    image_advtab: true 
                }); 
                 
                function fileBrowser(field_name, url, type, win) {
                    var cmsURL = "{{ path('file_manager', {module:'tiny', conf:'tiny'}) }}";
                    if (cmsURL.indexOf("?") < 0) {
                        cmsURL = cmsURL + "?type=" + type;
                    }
                    else {
                        cmsURL = cmsURL + "&type=" + type;
                    }

                    tinyMCE.activeEditor.windowManager.open({
                        file: cmsURL,
                        title: 'File Manager',
                        width: 1024,
                        height: 500
                    }, {
                        window: win,
                        input: field_name
                    });

                    return false;
                }                 
            </script>                      
            <script src="{{ asset('/js/timepicker.js') }}"></script>
            <script src="{{ asset('/js/moment.min.js') }}"></script>
            <script src="{{ asset('/js/fullcalendar.min.js') }}"></script>
            <script src="{{ asset('/js/fullcalendar-pl.js') }}"></script>
            <script src="{{ asset('/js/data-tables.js') }}"></script>
            <script src="{{ asset('/js/scripts.js') }}"></script>
            {% if is_granted('ROLE_ADMIN') %}
            <script>
                $(document).ready(function() {
                    
                    $.ajax({
                        url: '/admin/calendar-data',
                        type: 'GET',
                        success: function(response) {
                            $('#calendar').fullCalendar({
                                timeFormat: 'HH:mm',
                                minTime: '08:00:00',
                                maxTime: '21:00:00',
                                defaultTimedEventDuration: '01:00:00',
                                header: {
                                    left: 'prev,next',
                                    center: 'title',
                                    right: 'month, agendaWeek, agendaDay'
                                }, 
                                events: response
                            });
                        },
                        error: function(response) {
                            $('#calendar').fullCalendar({
                                timeFormat: 'HH:mm',
                                minTime: '08:00:00',
                                maxTime: '21:00:00',
                                defaultTimedEventDuration: '01:00:00',
                                header: {
                                    left: 'prev,next',
                                    center: 'title',
                                    right: 'month, agendaWeek, agendaDay'
                                }, 
                                events: {}
                            });
                        }
                    });                     
                });
            </script>
            <script>
                // File button
                $('#image').parent().hide();
                $('#buttonframe').on('load', function () {
                    $(this).contents().on('click','.select',function () {
                        var path = $(this).attr('data-path');
                        $('#image').parent().show();
                        $('#appbundle_post_images').val(path);
                        $('#image').attr('src', path);
                        $('#fileButtonModal').modal('hide');
                    });
                });
            </script>            
            {% endif %}
        {% endblock %}              
    </body>
</html>

