<div class="row">
    <div class="col-xs-12 col-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="collapse navbar-collapse" id="upper-navbar">
                    <ul class="nav navbar-nav navbar-right">
                      {% if is_granted('ROLE_ADMIN') %}
                          <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="{{ path('admin_dashboard') }}">Panel</a></li>  
                              <li><a href="{{ path('sonata_admin_dashboard') }}">Sonata admin</a></li>  
                              <li><a href="{{ path('fos_user_security_logout') }}">Wyloguj</a></li>                              
                            </ul>
                          </li>                           
                      {% else %}
                          <li><a href="{{ path('fos_user_security_login') }}">Zaloguj</a></li>
                      {% endif %}        
                    </ul>                    
                    <ul class="nav navbar-nav navbar-right social-list">
                        <li>
                            <a href="">
                                <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
                            </a>
                        </li> 
                        <li>
                            <a href="">
                                <i class="fa fa-youtube-square fa-lg" aria-hidden="true"></i>
                            </a>
                        </li>                        
                    </ul>                 
                </div>
            </div>
        </nav>        
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-fluid">
        <nav class="navbar navbar-default">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#lower-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ path('homepage') }}">Offensywa</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="lower-navbar">
              <ul class="nav navbar-nav">
                <li class="dropdown active">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tables</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('leaguetables') }}">Tables</a></li>
                  </ul>
                </li>         
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Games</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('game_index') }}">Games</a></li>
                  </ul>
                </li>        
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Categories</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('category_index') }}">Categories</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Posts</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('post_index') }}">Posts</a></li>
                  </ul>
                </li>        
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teams</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('team_index') }}">Teams</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Players</a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ path('player_index') }}">Players</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Szukaj...">
                </div>
                <button type="submit" class="btn btn-default">Szukaj</button>
              </form>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>        
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-fluid">
        {#<img src="{{ asset('/images/offensywa.jpg') }}" class="img-responsive" alt="Offensywa Książenice">#}
    </div>
</div>


