{% extends 'admin.html.twig' %}

{% set _preview = block('preview') is defined ? block('preview')|trim : null %}
{% set _form = block('form') is defined ? block('form')|trim : null %}
{% set _show = block('show') is defined ? block('show')|trim : null %}
{% set _list_table = block('list_table') is defined ? block('list_table')|trim : null %}
{% set _list_filters = block('list_filters') is defined ? block('list_filters')|trim : null %}
{% set _tab_menu = block('tab_menu') is defined ? block('tab_menu')|trim : null %}
{% set _content = block('content') is defined ? block('content')|trim : null %}
{% set _title = block('title') is defined ? block('title')|trim : null %}
{% set _breadcrumb = block('breadcrumb') is defined ? block('breadcrumb')|trim : null %}
{% set _actions = block('actions') is defined ? block('actions')|trim : null %}
{% set _navbar_title = block('navbar_title') is defined ? block('navbar_title')|trim : null %}
{% set _list_filters_actions = block('list_filters_actions') is defined ? block('list_filters_actions')|trim : null %}


{% block admin_body %}
<div class="admin-box">    
    <div class="content-wrapper">
        {% block sonata_page_content %}
            <section class="content-header">

                {% block sonata_page_content_header %}
                    {% block sonata_page_content_nav %}
                        {% if _tab_menu is not empty or _actions is not empty or _list_filters_actions is not empty %}
                            <nav class="navbar navbar-default" role="navigation">
                                <div class="container-fluid">
                                    {% block tab_menu_navbar_header %}
                                        {% if _navbar_title is not empty %}
                                            <div class="navbar-header">
                                                <a class="navbar-brand" href="#">{{ _navbar_title|raw }}</a>
                                            </div>
                                        {% endif %}
                                    {% endblock %}

                                    <div class="navbar-collapse">
                                        {% if _tab_menu is not empty %}
                                            <div class="navbar-left">
                                                {{ _tab_menu|raw }}
                                            </div>
                                        {% endif %}

                                        {% if admin is defined and action is defined and action == 'list' and admin.listModes|length > 1 %}
                                            <div class="nav navbar-right btn-group">
                                                {% for mode, settings in admin.listModes %}
                                                    <a href="{{ admin.generateUrl('list', app.request.query.all|merge({_list_mode: mode})) }}" class="btn btn-default navbar-btn btn-sm{% if admin.getListMode() == mode %} active{% endif %}"><i class="{{ settings.class }}"></i></a>
                                                {% endfor %}
                                            </div>
                                        {% endif %}

                                        {% block sonata_admin_content_actions_wrappers %}
                                            {% if _actions|replace({ '<li>': '', '</li>': '' })|trim is not empty %}
                                                <ul class="nav navbar-nav navbar-right">
                                                {% if _actions|split('</a>')|length > 2 %}
                                                    <li class="dropdown sonata-actions">
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'link_actions'|trans({}, 'SonataAdminBundle') }} <b class="caret"></b></a>
                                                        <ul class="dropdown-menu" role="menu">
                                                            {{ _actions|raw }}
                                                        </ul>
                                                    </li>
                                                {% else %}
                                                    {{ _actions|raw }}
                                                {% endif %}
                                                </ul>
                                            {% endif %}
                                        {% endblock sonata_admin_content_actions_wrappers %}

                                        {% if _list_filters_actions is not empty %}
                                            {{ _list_filters_actions|raw }}
                                        {% endif %}
                                    </div>
                                </div>
                            </nav>
                        {% endif %}
                    {% endblock sonata_page_content_nav %}
                {% endblock sonata_page_content_header %}
            </section>

            <section class="content">
                {% block sonata_admin_content %}

                    {% block notice %}
                        {% include 'SonataCoreBundle:FlashMessage:render.html.twig' %}
                    {% endblock notice %}

                    {% if _preview is not empty %}
                        <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                    {% endif %}

                    {% if _content is not empty %}
                        <div class="sonata-ba-content">{{ _content|raw }}</div>
                    {% endif %}

                    {% if _show is not empty %}
                        <div class="sonata-ba-show">{{ _show|raw }}</div>
                    {% endif %}

                    {% if _form is not empty %}
                        <div class="sonata-ba-form">{{ _form|raw }}</div>
                    {% endif %}

                    {% if _list_filters is not empty %}
                        <div class="row">
                            {{ _list_filters|raw }}
                        </div>
                    {% endif %}

                    {% if _list_table is not empty %}
                        <div class="row">
                            {{ _list_table|raw }}
                        </div>
                    {% endif %}
                {% endblock sonata_admin_content %}
            </section>
        {% endblock sonata_page_content %}
    </div>
</div>
{% endblock admin_body %}