{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-sm-4 col-xs-5">
                    <h3>Najbliższy mecz</h3>
                    {% if nextMatch %}
                        <p>{{ nextMatch.date | date('d-m-Y H:i') }}</p>
                        <p>{{ nextMatch.homeTeam.name }}</p>
                        <p>{{ nextMatch.awayTeam.name }}</p>
                    {% else %}
                        Brak zaplanowanych meczy.
                    {% endif %}                     
                    
                </div>
                <div class="col-sm-8 col-xs-7">
                    <h3>Kolejne mecze</h3>
                    <table class="table table-bordered">                        
                        {% for fixture in upcomingFixtures %}
                            <tr>
                                <td>{{ fixture.homeTeam.name }}</td>
                                <td>{{ fixture.date | date('d-m-Y H:i') }}</td>
                                <td>{{ fixture.awayTeam.name }}</td>
                            </tr>
                            
                        {% endfor %}
                    </table>
                </div>
                <div class="col-xs-12">Aktualności</div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-5 col-xs-6 r-full-width">
                    Ostatni mecz
                </div>
                <div class="col-lg-12 col-md-12 col-sm-7 col-xs-6 r-full-width">
                    Tabele
                </div>                    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Galeria
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-12">
            Nasi zawodnicy
        </div>
    </div>     
{% endblock %}

