{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-sm-4 col-xs-5">                    
                    <div class="match-details">
                        <h4>NAJBLIŻSZY MECZ</h4>
                        {% if nextMatch %}
                            <p>{{ nextMatch.date | date('d-m-Y H:i') }}</p>
                            <div>
                                <table class="table borderless table-responsive">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-6">
                                                {% if nextMatch.homeTeam.logo %}
                                                    <img src="{% path nextMatch.homeTeam.logo, 'small' %}">
                                                {% endif %}                                            
                                            </td>
                                            <td></td>
                                            <td class="col-md-6">
                                                {% if nextMatch.awayTeam.logo %}
                                                    <img src="{% path nextMatch.awayTeam.logo, 'small' %}">
                                                {% endif %}                                                                                         
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-6">
                                                {{ nextMatch.homeTeam.name }}                                           
                                            </td>
                                            <td>:</td>
                                            <td class="col-md-6">
                                                {{ nextMatch.awayTeam.name }}                                            
                                            </td>                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                
                        {% else %}
                            Brak zaplanowanych meczy.
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-8 col-xs-7">
                    <h3>KOLEJNE MECZE</h3>
                    <div class="table-responsive upcoming-fixtures">
                        <table class="table table-bordered table-striped"> 
                            <tbody>
                                {% for fixture in upcomingFixtures %}
                                    <tr>
                                        <td class="col-md-4">
                                            <div class="logo-with-name fixture-text">
                                                {% if fixture.homeTeam.logo %}
                                                    <img src="{% path fixture.homeTeam.logo, 'small' %}">
                                                {% endif %}                                        
                                                {{ fixture.homeTeam.name }}
                                            </div>
                                        </td>
                                        <td class="col-md-4 fixture-date">
                                            <span class="fixture-text">{{ fixture.date | date('d-m-Y H:i') }}</span>
                                        </td>
                                        <td class="col-md-4">
                                            <div class="logo-with-name fixture-text">
                                                {% if fixture.awayTeam.logo %}
                                                    <img src="{% path fixture.awayTeam.logo, 'small' %}">
                                                {% endif %}                                        
                                                {{ fixture.awayTeam.name }}
                                            </div>                                    
                                        </td>
                                    </tr> 
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h3>AKTUALNOŚCI</h3>
{#                    {% for post in recentPosts %}
                        <h4>{{ post.title }}</h4>
                        {% if post.image %}
                            <img src="{% path post.image, 'small' %}">
                        {% endif %}  
                        <p>
                            <small class="text-muted"> 
                                {% if post.publishDate %}
                                    <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; 
                                    <abbr title="Publish date">{{ post.publishDate|date('Y-m-d H:i:s') }}</abbr>
                                {% endif %}
                                &nbsp;
                                {% if post.modifyDate %}
                                    <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; 
                                    <abbr title="Modify date">{{ post.modifyDate|date('Y-m-d H:i:s') }}</abbr>
                                {% endif %}
                            </small>
                        </p>                        
                        {% if post.body | length > 160 %}
                            {{ (post.body | slice(0, 161) | split(' ') | slice(0, -1) | join(' ') ~ '…') | purify }}
                        {% else %}
                            {{ post.body | purify }}
                        {% endif %}
                        <small><a href="{{ path('post_show', { 'id': post.id }) }}">Czytaj dalej...</a></small>
                    {% endfor %}#}
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for post in recentPosts %}
                                {% if loop.index0 == 0 %}
                                <div class="item active">
                                {% else %}
                                <div class="item">
                                {% endif %}
                                    <img src="http://placehold.it/760x400/cccccc/ffffff">
                                    <div class="carousel-caption">
                                        <h5><a href="#">{{ post.title }}</a></h5>
                                        <p>{{ post.body }}
                                            <a class="label label-primary" href="#" target="_blank">Free Bootstrap Carousel Collection</a>
                                        </p>
                                    </div>
                                </div>                               
                            {% endfor %}
                        </div>
                        <ul class="list-group col-sm-4">
                            {% for post in recentPosts %}
                                {% if loop.index0 == 0 %}
                                    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="list-group-item active">
                                        <h5>{{ post.title }}</h5>
                                    </li>
                                {% else %}
                                    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}" class="list-group-item">
                                        <h5>{{ post.title }}</h5>
                                    </li>
                                {% endif %}                                
                            {% endfor %}
                        </ul>
                        <div class="carousel-controls">
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-5 col-xs-6">
                    <div class="match-details">
                        <h4>OSTATNI MECZ</h4>
                        {% if lastMatch %}
                            <p>{{ lastMatch.date | date('d-m-Y H:i') }}</p>
                            <div>
                                <table class="table borderless table-responsive">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-5">
                                                <h2>{{ lastMatch.homeTeamScore }}</h2>                                            
                                            </td>
                                            <td class="col-md-2">
                                                <h2>:</h2>
                                            </td>
                                            <td class="col-md-5">
                                                <h2>{{ lastMatch.awayTeamScore }}</h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-5">
                                                {% if lastMatch.homeTeam.logo %}
                                                    <img src="{% path lastMatch.homeTeam.logo, 'small' %}">
                                                {% endif %}                                            
                                            </td>
                                            <td class="col-md-2"></td>
                                            <td class="col-md-5">
                                                {% if lastMatch.awayTeam.logo %}
                                                    <img src="{% path lastMatch.awayTeam.logo, 'small' %}">
                                                {% endif %}                                                                                         
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="col-md-5">
                                                {{ lastMatch.homeTeam.name }}                                           
                                            </td>
                                            <td class="col-md-2">vs</td>
                                            <td class="col-md-5">
                                                {{ lastMatch.awayTeam.name }}                                            
                                            </td>                                        
                                        </tr>
                                    </tbody>
                                </table>
                            </div>                
                        {% else %}
                            Brak ostatniego meczu.
                        {% endif %}
                    </div>                    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-7 col-xs-6">
                    <h3>TABELE</h3>
                    {% for table in leagueTables %}
                    <h4>Tabela rocznika {{ table.year }}</h4> 
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped simple-league-table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Drużyna</th>
                                    <th>RM</th>
                                    <th>W</th>
                                    <th>R</th>
                                    <th>P</th>
                                    <th>Pkt</th>
                                </tr>
                            </thead>    
                            <tbody>    
                                {% for team in table.table %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ team.Team }}</td>
                                        <td>{{ team.P }}</td>
                                        <td>{{ team.W }}</td>
                                        <td>{{ team.D }}</td>
                                        <td>{{ team.L }}</td>
                                        <td>{{ team.Pts }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}                    
                </div>                    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            GALERIA
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-12">
            NASI ZAWODNICY
        </div>
    </div>     
{% endblock %}

