{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-sm-4 col-xs-5">                    
                    <div class="next-match-details">
                        <h4>NAJBLIŻSZY MECZ</h4>
                        {% if nextMatch %}
                            <p>{{ nextMatch.date | date('d-m-Y H:i') }}</p>
                            <div>
                                <table class="table borderless table-responsive">
                                    <tr>
                                        <td class="col-md-6">
                                            {% if nextMatch.homeTeam.logo %}
                                                <img src="{% path nextMatch.homeTeam.logo, 'small' %}">
                                            {% endif %}                                            
                                        </td>
                                        <td></td>
                                        <td class="col-md-6">
                                            {% if nextMatch.awayTeam.logo %}
                                                <img src="{% path nextMatch.awayTeam.logo, 'small' %}">
                                            {% endif %}                                                                                         
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="col-md-6">
                                            {{ nextMatch.homeTeam.name }}                                           
                                        </td>
                                        <td>:</td>
                                        <td class="col-md-6">
                                            {{ nextMatch.awayTeam.name }}                                            
                                        </td>                                        
                                    </tr>
                                </table>
                            </div>                
                        {% else %}
                            Brak zaplanowanych meczy.
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-8 col-xs-7">
                    <h3>Kolejne mecze</h3>
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">                        
                            {% for fixture in upcomingFixtures %}
                                <tr>
                                    <td>
                                        <div class="logo-with-name fixture-text">
                                            {% if fixture.homeTeam.logo %}
                                                <img src="{% path fixture.homeTeam.logo, 'small' %}">
                                            {% endif %}                                        
                                            {{ fixture.homeTeam.name }}
                                        </div>
                                    </td>
                                    <td class="fixture-date">
                                        <span class="fixture-text">{{ fixture.date | date('d-m-Y H:i') }}</span>
                                    </td>
                                    <td>
                                        <div class="logo-with-name fixture-text">
                                            {% if fixture.awayTeam.logo %}
                                                <img src="{% path fixture.awayTeam.logo, 'small' %}">
                                            {% endif %}                                        
                                            {{ fixture.awayTeam.name }}
                                        </div>                                    
                                    </td>
                                </tr> 
                            {% endfor %}
                        </table>
                    </div>
                </div>
                <div class="col-xs-12">
                    <h3>Aktualności</h3>
                    {% for post in recentPosts %}
                        <h4>{{ post.title }}</h4>
                        {% if post.image %}
                            <img src="{% path post.image, 'small' %}">
                        {% endif %}  
                        <p>
                            <small class="text-muted"> 
                                {% if post.publishDate %}
                                    <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; 
                                    <abbr title="Publish date">{{ post.publishDate|date('Y-m-d H:i:s') }}</abbr>
                                {% endif %}
                                &nbsp;
                                {% if post.modifyDate %}
                                    <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; 
                                    <abbr title="Modify date">{{ post.modifyDate|date('Y-m-d H:i:s') }}</abbr>
                                {% endif %}
                            </small>
                        </p>                        
                        {% if post.body | length > 160 %}
                            {{ (post.body | slice(0, 161) | split(' ') | slice(0, -1) | join(' ') ~ '…') | purify }}
                        {% else %}
                            {{ post.body | purify }}
                        {% endif %}
                        <small><a href="{{ path('post_show', { 'id': post.id }) }}">Czytaj dalej...</a></small>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-5 col-xs-6 r-full-width">
                    <h3>Ostatni mecz</h3>
                    {% if lastMatch %}
                        <p>{{ lastMatch.date | date('d-m-Y H:i') }}</p>
                        <p>{{ lastMatch.homeTeam.name }}</p>
                        <p>{{ lastMatch.homeTeamScore }} : {{ lastMatch.awayTeamScore }}</p>
                        <p>{{ lastMatch.awayTeam.name }}</p>
                    {% else %}
                        Brak ostatniego meczu.
                    {% endif %}                    
                </div>
                <div class="col-lg-12 col-md-12 col-sm-7 col-xs-6 r-full-width">
                    <h3>Tabele</h3>
                    {% for table in leagueTables %}
                    <h4>Tabela rocznika {{ table.year }}</h4> 
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <th>Team</th>
                                    <th>P</th>
                                    <th>W</th>
                                    <th>D</th>
                                    <th>L</th>
                                    <th>F</th>
                                    <th>A</th>
                                    <th>GD</th>
                                    <th>Pts</th>
                                </tr>            
                                {% for team in table.table %}
                                    <tr>
                                        <td>{{ team.Team }}</td>
                                        <td>{{ team.P }}</td>
                                        <td>{{ team.W }}</td>
                                        <td>{{ team.D }}</td>
                                        <td>{{ team.L }}</td>
                                        <td>{{ team.F }}</td>
                                        <td>{{ team.A }}</td>
                                        <td>{{ team.GD }}</td>
                                        <td>{{ team.Pts }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}                    
                </div>                    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            Galeria
        </div>
    </div> 
    <div class="row">
        <div class="col-xs-12">
            Nasi zawodnicy
        </div>
    </div>     
{% endblock %}

