{% extends 'admin.html.twig' %}

{% block admin_body %}
    {#{{ dump(calendarTrainings) }}#}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default top-panel top-panel-one">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="top-panel-text">{{ playersCount }} / {{ thisMonthPayments }}</h1>
                            <p><small>Zawodników /<br> w tym płacących</small></p>                            
                        </div>
                        <div class="col-md-5">
                            <h1><i class="fa fa-user" aria-hidden="true"></i></h1>
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <p class="text-center">Więcej <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default top-panel top-panel-two">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-5">
                            <h1 class="top-panel-text">{{ teamsCount }}</h1>
                            <p><small>Grupy</small></p>                            
                        </div>
                        <div class="col-md-7">
                            <h1><i class="fa fa-users" aria-hidden="true"></i></h1>
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <p class="text-center">Więcej <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default top-panel top-panel-three">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="top-panel-text">{{ thisMonthPayments }}</h1>
                            <p><small>Składek w tym miesiącu</small></p>                            
                        </div>
                        <div class="col-md-5">
                            <h1><i class="fa fa-user" aria-hidden="true"></i></h1>
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <p class="text-center">Więcej <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default top-panel top-panel-four">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="top-panel-text">{{ playersCount - thisMonthPayments }}</h1>
                            <p><small>Zaległych składek<br>za ten miesiąc</small></p>                            
                        </div>
                        <div class="col-md-5">
                            <h1><i class="fa fa-user" aria-hidden="true"></i></h1>
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <p class="text-center">Więcej <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="admin-box">
                <div id="calendar"></div>
            </div>            
        </div> 
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="admin-box">
                <h3>Wpłaty 
                    <sup>
                        <i class="fa fa-question-circle-o" 
                           aria-hidden="true" 
                           data-toggle="tooltip" 
                           data-placement="right" 
                           title="Ostatnie 6 miesięcy">                 
                        </i>
                    </sup>
                </h3>                            
                <div id="chart">
                  <ul id="numbers">
                    <li><span>100%</span></li>
                    <li><span>90%</span></li>
                    <li><span>80%</span></li>
                    <li><span>70%</span></li>
                    <li><span>60%</span></li>
                    <li><span>50%</span></li>
                    <li><span>40%</span></li>
                    <li><span>30%</span></li>
                    <li><span>20%</span></li>
                    <li><span>10%</span></li>
                    <li><span>0%</span></li>
                  </ul>
                  <ul id="bars">
                    <li><div data-percentage="56" class="bar"></div><span>Option 1</span></li>
                    <li><div data-percentage="33" class="bar"></div><span>Option 2</span></li>
                    <li><div data-percentage="54" class="bar"></div><span>Option 3</span></li>
                    <li><div data-percentage="94" class="bar"></div><span>Option 4</span></li>
                    <li><div data-percentage="44" class="bar"></div><span>Option 5</span></li>
                    <li><div data-percentage="23" class="bar"></div><span>Option 6</span></li>
                  </ul>
                </div>                 
            </div>            
        </div>         
    </div>                              
{% endblock %}

