{% extends 'admin.html.twig' %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default top-panel top-panel-one">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="top-panel-text">
                                {{ playersCount }} / {% if thisMonthPayments is not null %}{{ thisMonthPayments }}{% else %}0{% endif %}
                            </h1>
                            <p><small>Zawodników /<br> w tym płacących</small></p>                            
                        </div>
                        <div class="col-md-5">
                            <h1><i class="fa fa-user" aria-hidden="true"></i></h1>
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <p class="text-center">Więcej <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default top-panel top-panel-two">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-5">
                            <h1 class="top-panel-text">
                                {% if teamsCount is not null %}{{ teamsCount }}{% else %}0{% endif %}
                            </h1>
                            <p><small>Grupy</small></p>                            
                        </div>
                        <div class="col-md-7">
                            <h1><i class="fa fa-users" aria-hidden="true"></i></h1>
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <p class="text-center">Więcej <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default top-panel top-panel-three">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="top-panel-text">
                                {% if thisMonthPayments is not null %}{{ thisMonthPayments }}{% else %}0{% endif %}
                            </h1>
                            <p><small>Składek w tym miesiącu</small></p>                            
                        </div>
                        <div class="col-md-5">
                            <h1><i class="fa fa-user" aria-hidden="true"></i></h1>
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <p class="text-center">Więcej <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-default top-panel top-panel-four">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-7">
                            <h1 class="top-panel-text">{{ playersCount - thisMonthPayments }}</h1>
                            <p><small>Zaległych składek<br>za ten miesiąc</small></p>                            
                        </div>
                        <div class="col-md-5">
                            <h1><i class="fa fa-user" aria-hidden="true"></i></h1>
                        </div>
                    </div>                    
                </div>
                <div class="panel-body">
                    <p class="text-center">Więcej <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></p>
                </div>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8">
            <div class="admin-box">
                <div id="calendar"></div>
            </div>            
        </div> 
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="admin-box">
                <h2>Wpłaty 
                    <sup>
                        <i class="fa fa-question-circle-o" 
                           aria-hidden="true" 
                           data-toggle="tooltip" 
                           data-placement="right" 
                           title="Składki za ostatnie 4 miesiące">                 
                        </i>
                    </sup>
                </h2>                            
                <div id="chart">
                  {% if playersCount is not null and paymentsForLastMonths is not null %}
                  <ul id="numbers">
                        {% set height = 100 / playersCount %}
                        {% for i in playersCount..0 %}
                            <li style="height: {{height}}%"><span>{{i}}</span></li>
                        {% endfor %}
                  </ul>
                  <ul id="bars">
                        {% for monthlyPayments in paymentsForLastMonths %}                          
                            <li>
                                <div data-percentage="{{ height * monthlyPayments.total }}" class="bar">
                                    <span>{{ monthlyPayments.total }}</span>
                                </div>
                                <span>{{ monthlyPayments.period|date('F')|trans }}</span>
                            </li>
                        {% endfor %}
                  </ul>
                  {% else %}
                      Brak graczy i/lub płatności
                  {% endif %}
                </div>                 
            </div>            
        </div>         
    </div>                              
{% endblock %}

