{% extends 'admin.html.twig' %}

{% block admin_body %}
    <h1>Zawodnicy</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('player_new') }}" class="btn btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        Dodaj
    </a>
    {% endif %} 
    {% include 'partials/gritter.html.twig' %}
    <div class="admin-box">
        <form action="{{ path('player_delete') }}" class="list-form" method="post">
            <table class="table data-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Imię</th>
                        <th><i class="fa fa-sort" aria-hidden="true"></i> Nazwisko</th>
                        <th><i class="fa fa-sort" aria-hidden="true"></i> Email rodzica</th>
                        <th><i class="fa fa-sort" aria-hidden="true"></i> Telefon rodzica</th>
                        <th><i class="fa fa-sort" aria-hidden="true"></i> Data urodzenia</th>
                        <th><i class="fa fa-sort" aria-hidden="true"></i> Pozycja</th>
                        <th><i class="fa fa-sort" aria-hidden="true"></i> Grupa</th>
                        <th>Edycja</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in players %}
                    <tr>
                        <td></td>
                        <td>{{ player.firstName }}</td>
                        <td>{{ player.lastName }}</td>
                        <td>
                            {% if player.parentEmail %}
                                {{ player.parentEmail }}
                            {% else %}
                                ---
                            {% endif %}                    
                        </td>
                        <td>
                            {% if player.parentPhone %}
                                {{ player.parentPhone }}
                            {% else %}
                                ---
                            {% endif %}                    
                        </td>                    
                        <td>
                            {% if player.birthDate %}
                                {{ player.birthDate|date('Y-m-d') }}
                            {% endif %}
                        </td>
                        <td>
                            {% if player.position %}
                                {{ player.position }}
                            {% else %}
                                ---
                            {% endif %}                         
                        </td>
                        <td>
                            {% if player.team %}
                                {{ player.team.name }} {{ player.team.year }}
                            {% endif %}
                        </td>
                        <td class="col-md-2">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin_player_show', { 'id': player.id }) }}" class="btn btn-default btn-sm pull-left admin-form-btn-margin">
                                Pokaż
                            </a>                        
                            <a href="{{ path('player_edit', { 'id': player.id }) }}" class="btn btn-primary btn-sm pull-left admin-form-btn-margin">
                                Edytuj
                            </a>
                            <input name="_method" value="DELETE" type="hidden">
                            <input id="form__token{{player.id}}" 
                                   class="list-checkbox" 
                                   name="players[]" 
                                   value="{{ player.id }}" 
                                   type="checkbox"
                            >                             
                        {% endif %}                    
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="select_all" /> {{ 'select.all'|trans }}
                </label>
            </div>                        
            <input type="submit" class="btn btn-danger btn-sm btn-delete delete-selected" value="{{ 'remove.selected'|trans }}">                
        </form>
    </div>
{% endblock %}
