{% extends 'admin.html.twig' %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"> 
            <h1>Edytuj zawodnika</h1>
            {% include 'partials/gritter.html.twig' %}
            <div class="admin-box">                      
                {{ form_start(edit_form, { 'attr': {'class': 'admin-form', 'novalidate': 'novalidate'} }) }}
                    {{ form_row(edit_form.firstName) }}
                    {{ form_row(edit_form.lastName) }}
                    {{ form_row(edit_form.birthDate) }}
                    {{ form_row(edit_form.position) }}
                    {{ form_row(edit_form.team) }}
                    {{ form_row(edit_form.parentEmail) }}
                    {{ form_row(edit_form.parentPhone) }}
                    {{ form_row(edit_form.image) }}
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fileButtonModal">
                            <span class="glyphicon glyphicon-folder-open"></span> Dodaj zdjęcie
                        </button>
                    </div>            
                    <input type="submit" class="btn btn-primary" value="Edytuj" />
                    <a href="{{ path('admin_player_index') }}" class="btn btn-default admin-form-btn-margin">
                        Wróć do listy
                    </a>            
                {{ form_end(edit_form) }}
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <img src="" class="img-responsive" id="uploadedImage">
                    </div>
                </div>  
                {% if player.image %}
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Zdjęcie</h3>
                        </div>
                    </div>                    
                    <div class="row">
                        <div class="col-xs-12 img-holder">
                            <img src="{{ player.image.url }}" class="img-responsive">
                            <form action="{{ path('unset_player_image', { 'player_id': player.id }) }}" 
                                  method="post" 
                                  class="overlaping-form-top">
                                <input type="submit" class="btn btn-danger btn-xs" value="Usuń">
                            </form>                            
                        </div>
                    </div>
                {% endif %}                 
            </div>
        </div>
    </div>
                
    <!-- Image Modal -->
    <div class="modal fade" id="fileButtonModal" tabindex="-1" role="dialog" aria-labelledby="fileButtonModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="fileButtonModalLabel">File Manager</h4>
                </div>
                <div class="modal-body">
                    <iframe id="buttonframe" 
                            src="{{ path('file_manager', {module:1, conf:'button'}) }}" 
                            width="100%" 
                            height="500" 
                            frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>                 
                
{% endblock %}
