{% extends 'base.html.twig' %}

{% block body %}
    <h1>Players list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthdate</th>
                <th>Position</th>
                <th>Team</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                <td>{{ player.firstName }}</td>
                <td>{{ player.lastName }}</td>
                <td>{% if player.birthDate %}{{ player.birthDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ player.position }}</td>
                <td>{{ player.team.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('player_show', { 'id': player.id }) }}">show</a>
                        </li>
                        {% if is_granted('ROLE_ADMIN') %}
                            <li>
                                <a href="{{ path('player_edit', { 'id': player.id }) }}">edit</a>
                            </li>
                        {% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted('ROLE_ADMIN') %}
        <ul>
            <li>
                <a href="{{ path('player_new') }}">Create a new player</a>
            </li>
        </ul>
    {% endif %}
{% endblock %}
