{% extends 'layout.html.twig' %}

{% block content %}
    <h2>Zawodnicy</h2>
    {% if players %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Zdjęcie</th>
                <th>Data urodzenia</th>
                <th>Pozycja</th>
                <th>Grupa</th>
                <th>Edycja</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td><a href="{{ path('player_show', { 'id': player.id }) }}">{{ player.id }}</a></td>
                <td>{{ player.firstName }}</td>
                <td>{{ player.lastName }}</td>
                <td>
                    {% if player.image %}
                        <img src="{% path player.image, 'small' %}">
                    {% endif %}                    
                </td>
                <td>
                    {% if player.birthDate %}
                        {{ player.birthDate|date('Y-m-d') }}
                    {% endif %}
                </td>
                <td>{{ player.position }}</td>
                <td>
                    {% if player.team %}
                        {{ player.team.name }} {{ player.team.year }}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        Brak graczy
    {% endif %}
{% endblock %}
