{% extends 'admin.html.twig' %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <h1>Dodaj gracza</h1>
            {% include 'partials/gritter.html.twig' %}
            <div class="admin-box">                     
                {{ form_start(form, { 'attr': {'class': 'admin-form', 'novalidate': 'novalidate'} }) }}
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.birthDate) }}
                    {{ form_row(form.position) }}
                    {{ form_row(form.team) }}
                    {{ form_row(form.parentEmail) }}
                    {{ form_row(form.parentPhone) }}
                    {% if errors is defined %}                    
                        {% if errors|length > 0 %}
                        <span class="help-block file-error">    
                            <ul class="list-unstyled">
                                {% for error in errors %}
                                <li>
                                    <span class="glyphicon glyphicon-exclamation-sign"></span> 
                                    {{ error.message }}
                                </li>
                                {% endfor %}
                            </ul>
                        </span>
                        {% endif %}
                    {% endif %}                     
                    {{ form_row(form.image) }}
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#fileButtonModal">
                            <span class="glyphicon glyphicon-folder-open"></span> Dodaj zdjęcie
                        </button>
                    </div>            
                    <input type="submit" class="btn btn-primary" value="Utwórz" />
                    <a href="{{ path('admin_player_index') }}" class="btn btn-default admin-form-btn-margin">
                        Wróć do listy
                    </a>            
                {{ form_end(form) }}
                <div class="row">
                    <div class="col-xs-6 col-md-3">
                        <img src="" class="img-responsive" id="uploadedImage">
                    </div>
                </div>               
            </div>
        </div>
    </div>
                
    <!-- Image Modal -->
    <div class="modal fade" id="fileButtonModal" tabindex="-1" role="dialog" aria-labelledby="fileButtonModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="fileButtonModalLabel">File Manager</h4>
                </div>
                <div class="modal-body">
                    <iframe id="buttonframe" 
                            src="{{ path('file_manager', {module:1, conf:'button'}) }}" 
                            width="100%" 
                            height="500" 
                            frameborder="0"></iframe>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>                 
                
{% endblock %}
