{% extends 'layout.html.twig' %}

{% block content %}
    {% if player %}
        <h1>{{ player.firstName }} {{ player.lastName }}</h1>
        {% if player.image %}
            <img src="{% path player.image, 'big' %}">
        {% endif %}
        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ player.id }}</td>
                </tr>
                <tr>
                    <th>Firstname</th>
                    <td>{{ player.firstName }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ player.lastName }}</td>
                </tr>
                <tr>
                    <th>Birthdate</th>
                    <td>
                        {% if player.birthDate %}
                            {{ player.birthDate|date('Y-m-d') }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Position</th>
                    <td>
                        {% if player.position %}
                            {{ player.position }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Team</th>
                    <td>
                        {% if player.team %}
                            {{ player.team.name }}
                        {% endif %}
                    </td>
                </tr>            
            </tbody>
        </table>
    {% else %}
        Nie ma takiego zawodnika
    {% endif %}
{% endblock %}
