{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trainers list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Login</th>
                <th>Email</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trainer in trainers %}
            <tr>
                <td><a href="{{ path('trainers_show', { 'id': trainer.id }) }}">{{ trainer.id }}</a></td>
                <td>{{ trainer.firstName }}</td>
                <td>{{ trainer.lastName }}</td>
                <td>{{ trainer.login }}</td>
                <td>{{ trainer.email }}</td>
                <td>{% if trainer.status %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('trainers_show', { 'id': trainer.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('trainers_edit', { 'id': trainer.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trainers_new') }}">Create a new trainer</a>
        </li>
    </ul>
{% endblock %}
