{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trainer</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ trainer.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ trainer.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ trainer.lastName }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ trainer.login }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ trainer.email }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if trainer.status %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('trainer_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('trainer_edit', { 'id': trainer.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
