{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Galerie zdjęć</title>
    <meta name="description" content="Klub piłkarski Offensywa Książenice - galerie zdjęć">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">            
            {% if posts is not empty %}
                <h1>Galerie zdjęć</h1>
                {% for post in posts %}
                    <h2><a href="{{ path('post_show', { 'slug': post.slug }) }}">{{ post.title }}</a></h2>
                    <small>{% if post.publishDate %}
                        <i class="fa fa-clock-o" aria-hidden="true"></i> 
                        {{ post.publishDate|date('Y-m-d H:i') }}{% endif %}
                    </small>               
{#                    {% if post.image %}
                        <img src="{% path post.image, 'small' %}">
                    {% endif %} 
                    {{ post.body | purify }}#}
                {% endfor %}
                {% if pages > 1 %}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if app.request.attributes.get('_route_params')['page'] != 1 %}
                        <li>
                            <a href="{{ path('news', { 'page': app.request.attributes.get('_route_params')['page']-1 }) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for i in 1..pages %}
                            <li {{ (app.request.attributes.get('_route_params')['page'] == i) ? ' class="active"' }}>
                                <a href="{{ path('news', { 'page': i }) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        {% if app.request.attributes.get('_route_params')['page'] != pages %}
                        <li>
                            <a href="{{ path('news', { 'page': app.request.attributes.get('_route_params')['page']+1 }) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>  
                {% endif %}
            {% else %}
                <h2>Brak galerii</h2>
            {% endif %}            
        </div>
    </div>
{% endblock %}
