{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa</title>
    <meta name="description" content="Szkółka piłkarska Offensywa Książenice">
    <meta property="og:title" content="Offensywa" />
    <meta property="og:description" content="Szkółka piłkarska Offensywa Książenice" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="{{ asset('images/main.jpg') }}" />    
{% endblock %}

{% block content %}
    <div class="row">                
        <div class="col-xs-12">
            <div id="carousel-example-generic" class="carousel slide">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item main-item active">
                  <div class="carousel-caption">
                    <h3 data-animation="animated fadeInLeft">
                      Wychowujemy poprzez piłkę nożną
                    </h3>
                  </div>
                </div>
                <div class="item main-item">
                  <div class="carousel-caption">
                    <h3 data-animation="animated fadeInUp">
                      Piłka miłością w klubie z przyszłością
                    </h3>
                  </div>
                </div>
                <div class="item main-item">
                  <div class="carousel-caption">
                    <h3 data-animation="animated flipInX">
                      Offensywa dla każdego
                    </h3>
                  </div>
                </div>
              </div>
            </div> 
        </div>
    </div>
    <div class="row">                
        <div class="col-xs-12">
            <h2>AKTUALNOŚCI</h2>
            <div id="newsCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% if recentPosts %}
                        {% for post in recentPosts %}
                            {% if loop.index0 == 0 %}
                                <div class="item active" id="news-item">
                            {% else %}
                                <div class="item" id="news-item">
                            {% endif %}
                            {% if post.mainImage %}
                                <img src="{{ post.mainImage.url }}" class="img-responsive" alt="{{ post.mainImage.name }}">
                            {% else %}
                                <img src="http://placehold.it/760x400/cccccc/ffffff">
                            {% endif %}                                                                     
                                <div class="carousel-caption">
                                    <h3>
                                        <a href="{{ path('post_show', { 'slug': post.slug }) }}">
                                            {{ post.title }}
                                        </a>
                                    </h3>                                    
                                    {% if post.body | length > 160 %}
                                        {{ (post.body | slice(0, 161) | split(' ') | slice(0, -1) | join(' ') ~ '…') | purify }}
                                    {% else %}
                                        {{ post.body | purify('text_only') }}
                                    {% endif %}
                                    <a class="label" href="{{ path('post_show', { 'slug': post.slug }) }}">
                                        Czytaj >>>
                                    </a>                                    
                                </div>
                            </div>                               
                        {% endfor %}
                    {% else %}
                        Brak aktualności
                    {% endif %}                    
                </div>
                <ul class="list-group col-sm-4">
                    {% for post in recentPosts %}
                        {% if loop.index0 == 0 %}
                            <li data-target="#newsCarousel" data-slide-to="{{ loop.index0 }}" class="list-group-item active">
                                <h4>{{ post.title }}</h4>
                            </li>
                        {% else %}
                            <li data-target="#newsCarousel" data-slide-to="{{ loop.index0 }}" class="list-group-item">
                                <h4>{{ post.title }}</h4>
                            </li>
                        {% endif %}                                
                    {% endfor %}
                </ul>
                <div class="carousel-controls">
                    <a class="left carousel-control" href="#newsCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#newsCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {{ render(controller('AppBundle:Ad:index')) }}            
{#    <div class="row">
        <div class="col-xs-12">
            <h2>NASI ZAWODNICY</h2>
            {% if players %}
            <div class="row">               
                {% for player in players %}
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                            {% if player.image %}
                                <img src="{{ player.image.url }}" class="img-responsive" alt="{{ player.image.name }}">
                            {% else %}
                                <img src="http://placehold.it/150x200/cccccc/ffffff">
                            {% endif %}
                            <div class="caption">
                                <h4>{{ player.firstName }} {{ player.lastName }}</h4>
                                <p>{{ player.position | trans }}</p>
                                {% if player.team %}
                                    <p>{{ player.team.name }} {{ player.team.year }}</p>
                                {% endif %}
                            </div>
                        </div>                        
                    </div>
                {% endfor %}                 
            </div>
            {% else %}
                Brak zawodników
            {% endif %}             
        </div>                   
    </div>#}
{% endblock %}

