{% extends 'layout.html.twig' %}

{% block content %}
{#    <div class="row">
        <div class="col-sm-4 col-xs-5">#}
{#            <div class="match-details">
                <h4>NAJBLIŻSZY MECZ</h4>
                {% if nextMatch %}
                    <p>{{ nextMatch.date | date('d-m-Y H:i') }}</p>
                    <div>
                        <table class="table borderless table-responsive">
                            <tbody>
                                <tr>
                                    <td class="col-md-6">
                                        {% if nextMatch.homeTeam %}
                                            {% if nextMatch.homeTeam.logo %}
                                                <img src="{% path nextMatch.homeTeam.logo, 'small' %}">
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td></td>
                                    <td class="col-md-6">
                                        {% if nextMatch.awayTeam %}
                                            {% if nextMatch.awayTeam.logo %}
                                                <img src="{% path nextMatch.awayTeam.logo, 'small' %}">
                                            {% endif %}
                                        {% endif %}                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="col-md-6">
                                        {% if nextMatch.homeTeam %}
                                            {{ nextMatch.homeTeam.name }}
                                        {% else %}
                                            Deleted team
                                        {% endif %}
                                    </td>
                                    <td>:</td>
                                    <td class="col-md-6">
                                        {% if nextMatch.awayTeam %}
                                            {{ nextMatch.awayTeam.name }}
                                        {% else %}
                                            Deleted team
                                        {% endif %}                                        
                                    </td>                                        
                                </tr>
                            </tbody>
                        </table>
                    </div>                
                {% else %}
                    Brak zaplanowanych meczy.
                {% endif %}
            </div> #}                   
        {#</div>#}
{#        <div class="col-sm-8 col-xs-7">
            <h2>KOLEJNE MECZE</h2>
            <div class="table-responsive upcoming-fixtures">
                <table class="table table-bordered table-striped"> 
                    <tbody>
                        {% if upcomingFixtures %}
                            {% for fixture in upcomingFixtures %}
                                <tr>
                                    <td class="col-md-4">
                                        <div class="logo-with-name fixture-text">
                                            {% if fixture.homeTeam %}
                                                {% if fixture.homeTeam.logo %}
                                                    <img src="{% path fixture.homeTeam.logo, 'small' %}">
                                                {% endif %}                                        
                                                {{ fixture.homeTeam.name }}
                                            {% else %}
                                                Deleted
                                            {% endif %}    
                                        </div>
                                    </td>
                                    <td class="col-md-4 fixture-date">
                                        <span class="fixture-text">{{ fixture.date | date('d-m-Y H:i') }}</span>
                                    </td>
                                    <td class="col-md-4">
                                        <div class="logo-with-name fixture-text">
                                            {% if fixture.awayTeam %}
                                                {% if fixture.awayTeam.logo %}
                                                    <img src="{% path fixture.awayTeam.logo, 'small' %}">
                                                {% endif %}                                        
                                                {{ fixture.awayTeam.name }}
                                            {% else %}
                                                Deleted
                                            {% endif %} 
                                        </div>                                    
                                    </td>
                                </tr> 
                            {% endfor %}
                        {% else %}
                            Brak meczy do rozegrania
                        {% endif %}                         
                    </tbody>
                </table>
            </div>
        </div>#}
    {#</div>#}
    <div class="row">                
        <div class="col-xs-12">
            <h2>AKTUALNOŚCI</h2>
            <div id="newsCarousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    {% if recentPosts %}
                        {% for post in recentPosts %}
                            {% if loop.index0 == 0 %}
                                <div class="item active">
                            {% else %}
                                <div class="item">
                            {% endif %}
                            {% if post.image %}
                                <img src="{% path post.image, 'big' %}">
                            {% else %}
                                <img src="http://placehold.it/760x400/cccccc/ffffff">
                            {% endif %}                                                                     
                                <div class="carousel-caption">
                                    <h3>
                                        <a href="{{ path('post_show', { 'id': post.id }) }}">
                                            {{ post.title }}
                                        </a>
                                    </h3>
                                    <p>
                                        {% if post.body | length > 160 %}
                                            {{ (post.body | slice(0, 161) | split(' ') | slice(0, -1) | join(' ') ~ '…') | purify }}
                                        {% else %}
                                            {{ post.body | purify }}
                                        {% endif %}
                                        <a class="label" href="{{ path('post_show', { 'id': post.id }) }}" target="_blank">
                                            Czytaj >>>
                                        </a>
                                    </p>
                                </div>
                            </div>                               
                        {% endfor %}
                    {% else %}
                        Brak aktualności
                    {% endif %}                    
                </div>
                <ul class="list-group col-sm-4">
                    {% for post in recentPosts %}
                        {% if loop.index0 == 0 %}
                            <li data-target="#newsCarousel" data-slide-to="{{ loop.index0 }}" class="list-group-item active">
                                <h4>{{ post.title }}</h4>
                            </li>
                        {% else %}
                            <li data-target="#newsCarousel" data-slide-to="{{ loop.index0 }}" class="list-group-item">
                                <h4>{{ post.title }}</h4>
                            </li>
                        {% endif %}                                
                    {% endfor %}
                </ul>
                <div class="carousel-controls">
                    <a class="left carousel-control" href="#newsCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#newsCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h2>NASI ZAWODNICY</h2>
            {% if players %}
            <a href="{{ path('player_index') }}">
                Zobacz wszystkich 
                <i class="fa fa-forward" aria-hidden="true"></i>
            </a>
            <div class="row">               
                {% for player in players %}
                    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                            <a href="{{ path('player_show', { 'id': player.id }) }}">
                                {% if player.image %}
                                    <img src="{% path player.image, 'small' %}" 
                                         class="img-responsive" 
                                         alt="{{ player.firstName }} {{ player.lastName }}">
                                {% else %}
                                    <img src="http://placehold.it/150x200/cccccc/ffffff">
                                {% endif %}
                                <div class="caption">
                                    <h4>{{ player.firstName }} {{ player.lastName }}</h4>
                                    <p>{{ player.position }}</p>
                                </div>
                            </a>
                        </div>                        
                    </div>
                {% endfor %}                 
            </div>
            {% else %}
                Brak zawodników
            {% endif %}             
        </div>                   
    </div>
{% endblock %}

