{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Aktualności</title>
    <meta name="description" content="Tutaj znajdziesz najnosze informacje o klubue Offensywa">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {{ dump(posts) }}
            <h1>Aktualności</h1>
            {% if posts is not empty %}
                {% for article in posts %}
                    <h2>{{ article.title }}</h2>
                    <small>{% if article.publishDate %}
                        <i class="fa fa-clock-o" aria-hidden="true"></i> 
                        {{ article.publishDate|date('Y-m-d H:i') }}{% endif %}
                    </small>               
                    {% if article.image %}
                        <img src="{% path article.image, 'small' %}">
                    {% endif %} 
                    {{ article.body | purify }}
                {% endfor %}
            {% else %}
                Brak postów
            {% endif %}
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li><a href="{{ path('news', { 'page': 1 }) }}">1</a></li>
            <li><a href="{{ path('news', { 'page': 2 }) }}">2</a></li>
            <li><a href="{{ path('news', { 'page': 3 }) }}">3</a></li>
            <li><a href="{{ path('news', { 'page': 4 }) }}">4</a></li>
            <li><a href="{{ path('news', { 'page': 5 }) }}">5</a></li>
            <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>                
        </div>
    </div>
{% endblock %} 
    
{#$pagecount = 50; // Total number of rows
$num = $pagecount / $page_result ;

if($_GET['pageno'] > 1)
{
 echo "<a href = 'samepage.php?pageno = ".($_GET['pageno'] - 1)." '> Prev </a>";
}
for($i = 1 ; $i <= $num ; $i++)
{
 echo "<a href = "samepage.php?pageno = ". $i ." >". $i ."</a>";
}
if($num! = 1)
{
 echo "<a href = 'samepage.php?pageno = ".($_GET['pageno'] + 1)." '> Next </a>";
} #}   
