{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Aktualności</title>
    <meta name="description" content="Tutaj znajdziesz najnosze informacje o klubue Offensywa">
    <meta property="og:title" content="Offensywa Książenice – szkółka piłkarska" />
    <meta property="og:description" content="Tutaj znajdziesz najnosze informacje o klubue Offensywa Książenice" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="http://placehold.it/760x400/cccccc/ffffff" />    
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">           
            {% if posts is not empty %}
                <h1>Aktualności</h1>                
                {% for article in posts %}
                    <h2>{{ article.title }}</h2>
                    <small>{% if article.publishDate %}
                        <i class="fa fa-clock-o" aria-hidden="true"></i> 
                        {{ article.publishDate|date('Y-m-d H:i') }}{% endif %}
                    </small>               
                    {% if article.image %}
                        {% thumbnail article.image, 'small' with {'class': 'img-pull-left'} %}
                    {% endif %} 
                    {{ article.body | purify }}
                {% endfor %}
                {% if pages > 1 %}
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        {% if app.request.attributes.get('_route_params')['page'] != 1 %}
                        <li>
                            <a href="{{ path('news', { 'page': app.request.attributes.get('_route_params')['page']-1 }) }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}
                        {% for i in 1..pages %}
                            <li {{ (app.request.attributes.get('_route_params')['page'] == i) ? ' class="active"' }}>
                                <a href="{{ path('news', { 'page': i }) }}">{{ i }}</a>
                            </li>
                        {% endfor %}
                        {% if app.request.attributes.get('_route_params')['page'] != pages %}
                        <li>
                            <a href="{{ path('news', { 'page': app.request.attributes.get('_route_params')['page']+1 }) }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav> 
                {% endif %}
            {% else %}
                Brak postów
            {% endif %}               
        </div>
    </div>
{% endblock %} 
      
