{% extends 'admin.html.twig' %}

{% block admin_body %}
    <h1>Posty</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('post_new') }}" class="btn btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        Dodaj
    </a>
    {% endif %}
    {% include 'partials/gritter.html.twig' %}   
    <div class="admin-box">
        <table class="table data-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Tytuł</th>
                    <th>Zdjęcie</th>
                    <th>Treść</th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Data publikacji</th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Data modyfikacji</th>
                    <th>Edycja</th>
                </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ post.title }}</td>
                    <td>
                        {% if post.image %}
                            {#<img src="{% path post.image, 'small' %}">#}
                        {% endif %} 
                    </td>    
                    <td>
                    {% if post.body | length > 160 %}
                        {{ (post.body | slice(0, 161) | split(' ') | slice(0, -1) | join(' ') ~ '…') | purify }}
                    {% else %}
                        {{ post.body | purify }}
                    {% endif %}                
                    </td>
                    <td>{% if post.publishDate %}{{ post.publishDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if post.modifyDate %}{{ post.modifyDate|date('Y-m-d H:i:s') }}{% endif %}</td>

                    <td class="col-md-2">
                    {% if is_granted('ROLE_ADMIN') %}    
                        <a href="{{ path('post_edit', { 'id': post.id }) }}" class="btn btn-primary btn-sm pull-left admin-form-btn-margin">
                            Edytuj
                        </a>
                        <form action="{{ path('post_delete', { 'id': post.id }) }}" method="post">
                            {{ form_widget(deleteForms[post.id]) }}
                            <input type="submit" class="btn btn-danger btn-sm" value="Usuń">
                        </form>
                    {% endif %}
                    </td>                    
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>   
{% endblock %}

