{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Post</title>
    <meta name="description" content="Offensywa Książenice - {{ post.title }}">
    <meta property="og:title" content="Offensywa Książenice – szkółka piłkarska" />
    <meta property="og:description" content="{{ post.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="http://placehold.it/760x400/cccccc/ffffff" />     
{% endblock %}

{% block content %}
    {% if post %}       
        <h1>{{ post.title }}</h1>    
        <p>
            <small class="text-muted"> 
                {% if post.publishDate %}
                    <i class="fa fa-calendar" aria-hidden="true"></i> &nbsp; 
                    <abbr title="Publish date">{{ post.publishDate|date('Y-m-d H:i:s') }}</abbr>
                {% endif %}
                &nbsp;
                {% if post.modifyDate %}
                    <i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; 
                    <abbr title="Modify date">{{ post.modifyDate|date('Y-m-d H:i:s') }}</abbr>
                {% endif %}
            </small>
        </p>
        {% if post.mainImage %}
            <img src="{{ post.mainImage.url }}" class="img-responsive img-pull-left" alt="{{ post.mainImage.name }}">            
        {% endif %}        
        {{ post.body | purify }}
        {% if post.images %}
            <div class="gal-container">
            {% for image in post.images %}
                <div class="col-md-4 col-sm-6 co-xs-12 gal-item">
                    <div class="box">
                        <a href="#" data-toggle="modal" data-target="#{{ loop.index }}">
                            <img src="{{ image.url }}" class="img-responsive" alt="{{ image.name }}">                            
                        </a>
                        <div class="modal fade" id="{{ loop.index }}" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <div class="modal-body">
                                        <img src="{{ image.url }}" class="img-responsive" alt="{{ image.name }}">
                                    </div>
                                    {% if image.description %}
                                        <div class="col-md-12 description">
                                            <h4>{{ image.description }}</h4>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <h2>Brak treści</h2>
    {% endif %}
{% endblock %}
