{% extends 'admin.html.twig' %}

{% block admin_body %}
    <h1>Drużyny</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('team_new') }}" class="btn btn-success">
        <i class="fa fa-plus" aria-hidden="true"></i> 
        Dodaj
    </a>
    {% endif %} 
    {% include 'partials/gritter.html.twig' %} 
    <div class="admin-box"> 
        <table class="table data-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Nazwa</th>
                    <th><i class="fa fa-sort" aria-hidden="true"></i> Rocznik</th>
                    <th>Edycja</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ team.name }}</td>
                        <td>{{ team.year }}</td>
                        <td class="col-md-2">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('team_edit', { 'id': team.id }) }}" 
                               class="btn btn-primary btn-sm pull-left admin-form-btn-margin">
                                Edytuj
                            </a>
                            <form action="{{ path('team_delete', { 'id': team.id }) }}" method="post">
                                {{ form_widget(deleteForms[team.id]) }}
                                <input type="submit" class="btn btn-danger btn-sm" value="Usuń">
                            </form>                             
                        {% endif %} 
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

