{% extends 'layout.html.twig' %}

{% block content %}
    <h1>{{ team.name }} ({{ team.year }})</h1>
    {% if team.players %}
        <table class="table table-bordered table-striped simple-league-table">
            <thead>
                <th>Imię i nazwisko</th>
                <th>Pozycja</th>
            </thead>
            <tbody>
            {% for player in team.players %}
                <tr>
                    <td>{{ player.firstName }} {{ player.lastName }}</td>
                    <td>{{ player.position }}</td>
                </tr>
            {% endfor %}            
            </tbody>
        </table>
    {% else %}
        <h4>Brak graczy
    {% endif %}

{% endblock %}
