{% extends 'layout.html.twig' %}

{% block content %}   
    {% if team.players is empty %}
        <h2>Brak graczy</h2>
    {% else %}
        <h1>{{ team.name }} ({{ team.year }})</h1>
        <table class="table table-bordered table-striped simple-league-table">
            <thead>
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Pozycja</th>
                </tr>
            </thead>
            <tbody>
            {% for player in team.players %}
                <tr>
                    <td>{{ player.firstName }} {{ player.lastName }}</td>
                    <td>{{ player.position }}</td>
                </tr>
            {% endfor %}            
            </tbody>
        </table>        
    {% endif %}

{% endblock %}
