{% extends 'layout.html.twig' %}

{% block meta %}
    <title>Offensywa &bull; Kadra {{ team.year }}</title>
    <meta name="description" content="Lista zawodnicy rocznika {{ team.year }} klubu Offensywa Książenice">
    <meta property="og:title" content="Offensywa Książenice – szkółka piłkarska" />
    <meta property="og:description" content="Offensywa Książenice – kadra rocznika {{ team.year }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="http://placehold.it/760x400/cccccc/ffffff" />     
{% endblock %}

{% block content %}   
    {% if team.players is empty %}
        <h2>Brak graczy</h2>
    {% else %}
        <h1>{{ team.name }} ({{ team.year }})</h1>
        <table class="table table-bordered table-striped simple-league-table">
            <thead>
                <tr>
                    <th>Imię i nazwisko</th>
                    <th>Pozycja</th>
                </tr>
            </thead>
            <tbody>
            {% for player in team.players %}
                <tr>
                    <td>{{ player.firstName }} {{ player.lastName }}</td>
                    <td>{{ player.position|trans }}</td>
                </tr>
            {% endfor %}            
            </tbody>
        </table>        
    {% endif %}

{% endblock %}
