{% extends 'admin.html.twig' %}

{% block admin_body %}
    <h1>Zadania trenerskie</h1>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Data</th>
                <th>Obecność trenera</th>
                <th>Lista obecności</th>
                <th>Konspekt</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{% if task.date %}{{ task.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if task.trainerPresence %}Tak{% else %}Nie{% endif %}</td>
                <td>{% if task.attendanceList %}Tak{% else %}Nie{% endif %}</td>
                <td>{% if task.outline %}Tak{% else %}Nie{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('task_show', { 'id': task.id }) }}">Pokaż</a>
                        </li>
                        <li>
                            <a href="{{ path('task_edit', { 'id': task.id }) }}">Edytuj</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_new') }}"><i class="fa fa-plus" aria-hidden="true"></i> Dodaj</a>
        </li>
    </ul>
{% endblock %}
