{% extends 'admin.html.twig' %}

{% block admin_body %}
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">    
            <div class="admin-box">
                <h1>Zadanie</h1>

                <table class="table">
                    <tbody>
                        <tr>
                            <th>Data</th>
                            <td>{% if task.date %}{{ task.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Obecność trenera</th>
                            <td>{% if task.trainerPresence %}Tak{% else %}Nie{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Lista obecności</th>
                            <td>{% if task.attendanceList %}Tak{% else %}Nie{% endif %}</td>
                        </tr>
                        <tr>
                            <th>Konspekt</th>
                            <td>{% if task.outline %}Tak{% else %}Nie{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
                <a href="{{ path('task_index') }}" class="btn btn-default pull-left admin-form-btn-margin">
                    Wróć do listy
                </a>
                <a href="{{ path('task_edit', { 'id': task.id }) }}" class="btn btn-primary pull-left admin-form-btn-margin">
                    Edytuj
                </a>
                {{ form_start(delete_form) }}
                    <input type="submit" class="btn btn-danger" value="Usuń">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
