{% extends 'admin.html.twig' %}

{% block admin_body %}
    <h1>Zadanie</h1>

    <table dlass="table">
        <tbody>
            <tr>
                <th>Data</th>
                <td>{% if task.date %}{{ task.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Obecność trenera</th>
                <td>{% if task.trainerPresence %}Tak{% else %}Nie{% endif %}</td>
            </tr>
            <tr>
                <th>Lista obecności</th>
                <td>{% if task.attendanceList %}Tak{% else %}Nie{% endif %}</td>
            </tr>
            <tr>
                <th>Konspekt</th>
                <td>{% if task.outline %}Tak{% else %}Nie{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('task_index') }}">Wróć do listy</a>
        </li>
        <li>
            <a href="{{ path('task_edit', { 'id': task.id }) }}">Edytuj</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-danger" value="Usuń">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
